<div class="col-xs-4">
  <a href="#">
    <%= fa_icon 'angle-double-left' %>
    My Jobs
  </a>
</div>
<div class="col-xs-4"><b>JobTitle XXXXXX</b></div>
<div class="col-xs-4"><a href="#">Job Results</a></div>
