<tr>
    <td class="img-text-td">
      <a href="#">
        <img src="http://placehold.it/50x50" alt="Name" />
      </a>
      <a href="#">
        <span>Name, Last name</span>
      </a>
    </td>
    <td class="hidden-xs hidden-sm">
      <span>Date</span>
    </td>
    <td class="hidden-xs hidden-sm">
      <span>Candidate status</span>
    <td class="hidden-xs hidden-sm">
      <span>Interviewing state</span>
    </td>
    <td>
      <a href="#">
        <span><%= fa_icon 'calendar' %></span>
      </a>
    </td>
</tr>
