<tr>
    <td>
      <img src="http://placehold.it/50x50" alt="Name" />
      <span class="name">Name, Last name</span>
    </td>
    <td class="hidden-xs hidden-sm">Date</td>
    <td class="hidden-xs hidden-sm">Candidate status</td>
    <td class="hidden-xs hidden-sm">Interviewing state</td>
    <td><%= fa_icon 'calendar' %></td>
</tr>
