<div class="row">
  <div class="side col-md-3">
    <%= render partial: 'jobs/item_side', locals: {job: @job} %>
  </div>

  <div class="main col-md-9">
    <div class="headline">
      <h1>Candidates</h1>
      <div class="filters">
        <div class="status">
          <span>Jobs Status</span>
          <form role="select_status">
            <select id="" name="">
              <option value="">Interviewing</option>
              <option value="">Interested</option>
              <option value="">Filtered</option>
            </select>
          </form>
        </div>
      </div>
    </div>

    <div class="list">
      <table class="table">
        <th>
          <td>Candidate</td>
          <td>Last Interview</td>
          <td>Candidate Status</td>
          <td>Interview State</td>
          <td>Actions</td>
        </th>
        <% @candidates.each do |candidate| %>
          <tr>
              <td>
                <img src="" alt="" />
                <span class="name">Name, Last name</span>
              </td>
              <td>Date</td>
              <td>Candidate status</td>
              <td>Interviewing state</td>
              <td>Action image</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

